body {
    font-family: "Roboto" sans-serif;
    background-color: #ffffff;
    color: #434455;
    font-size: 16px;
    font-style: 500;
    line-height: 1.5;
    letter-spacing: 0.02;
}
.nav-menu {
    list-style-type: none;
}

.nav-link,
.nav-link-active {
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link-active:hover,
.nav-link:focus,
.nav-link-active:focus {
    color: #404bbf;
}

.nav-link-active:active {
    text-decoration: underline;
}

.address-menu {
    list-style-type: none;
}

.address-link {
    color: #434455;
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.main-first {
    background-color: #2e2f42;
}

.main-tittle {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button {
    background-color: #4d5ae5;
    color:#ffffff
}

.values-list {
    list-style-type: none;
}

.values {
    color: #2e2f42;
    font-size: 20px;
}

.our-team-tittle {
    color: #2e2f42;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
}

.our-team-list {
    list-style-type: none;
}

.member-team {
    color: #2e2f42;
    font-size: 20px;
}

.portfolio-tittle {
    color: #2e2f42;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
}

.portfolio-list {
    list-style-type: none;
}

.portfolio {
    color: #2e2f42;
    font-size: 20px;
}